@import "_reset";
@import "_variables";

@mixin para-style($size, $style) {
    font-size: $size;
    text-align: $style;
}

header {
    background: $header_backgrund_color;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    nav {
        padding: 5px;

        ul {
            list-style-type: none;
            margin-top: 5px;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: #581523;
                }

                a:hover {
                    color: aqua;
                }
            }
        }
    }
}

main {
    background: $main_backgrund_color;
    padding: 2rem;

    #about {
        p {
            @include para-style(15px, center)
        }
    }
}

footer {
    background: $footer_backgrund_color;
    padding: 2rem;

    p {
        @include para-style(15px, center)
    }
}