@import "_reset";
@import "_variables";

@mixin para-style($size, $style) {
    font-size: $size;
    text-align: $style;
}

@mixin ankertag-size($value) {
    @if($value==small) {
        font-size: 10px;
    }

    @else if($value==medium) {
        font-size: 20px;
    }

    @else {
        font-size: 30px;
    }
}

header {
    background: $header_backgrund_color;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    nav {
        padding: 5px;

        ul {
            list-style-type: none;
            margin-top: 5px;

            li {
                display: inline-block;

                a {
                    text-decoration: none;
                    color: #581523;
                    @include ankertag-size(medium)
                }

                a:hover {
                    color: aqua;
                }
            }
        }
    }
}

main {
    background: $main_backgrund_color;
    padding: 2rem;

    #about {
        p {
            @include para-style(15px, center)
        }

        .button {
            display: flex;
            justify-content: space-between;

            .btn {
                background: cornflowerblue;
                padding: 1rem;
                cursor: pointer;
            }

            .btn-more {
                @extend .btn;
                background: crimson;
            }
        }
    }
}

footer {
    background: $footer_backgrund_color;
    padding: 2rem;

    p {
        @include para-style(15px, center)
    }

    [class*='col-'] {
        float: left;
    }

    @for $i from 1 through 12 {
        .col-#{$i} {
            width: 100% / 12 * $i;
            margin-left: 2px;
            border: 1px solid #581523;
        }
    }

    .row::after {
        clear: both;
        content: '';
        display: table;
    }


}